@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;600;700&display=swap');
@import url("https://use.typekit.net/tqr6gks.css");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "mono45-headline", monospace;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    background: #474747;
    overflow: hidden;
}

nav,
header {
    text-align: center;
    overflow: hidden;
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

li {
    list-style: none;
    letter-spacing: 2px;
}

.nav-menu>a {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
}

#exit {
    font-weight: 100;
    font-size: 12px;
}

.logo {
    font-weight: 400;
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 6.5px;
    background: transparent;
    left: 2.7%;
}

.logo:hover {
    transform: scale(1.02);
}

.circle {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background: #474747;
    box-shadow: inset 33px 33px 66px #3e3e3e,
        inset -33px -33px 66px #505050;
}

input {
    font-family: "mono45-headline", monospace;
    bottom: 29%;
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #474747;
    color: #ffffff;
}

input:focus-visible {
    background-color: #474747;
    color: #ffffff;
}

.hide {
    display: none;
}

img {
    height: 600px;
}

#countdown-timer {
    display: flex;
    position: relative;
    color: #000000;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: #505050;
    bottom: 100px;
    left: 245px;
    background: rgb(172, 172, 172);
    font-weight: 500;
    font-size: 300%;
}

#user-input {
    color: #ffffff;
    position: absolute;
    text-align: center;
}

::placeholder,
input:-internal-autofill-selected,
input:focus-visible,
input:-internal-autofill-previewed {
    font-family: "mono45-headline", monospace;
    font-weight: 100;
    background-color: #474747 !important;
}

input,
button {
    border-radius: 28px;
    height: 30px;
    width: 80%;
    padding: 5px;
    margin: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 17px;
    border: solid 1px rgb(172, 172, 172);
    line-height: 20px;
}

label {
    font-size: 10px;
    background: transparent;
}

#start {
    cursor: default;
    color: #ffffffb4;
    padding: 5px;
    border-radius: 10px;
    height: 50px;
    border: solid 1px #3f3f3f;
    box-shadow: inset 33px 33px 66px #3e3e3e,
        inset -33px -33px 66px #505050;
}

#start {
    color: #ffffff;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: 'Mulish';
    margin: 23px;
}

#start:hover {
    transform: translateY(1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#start:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


#start::after {
    background-color: rgb(39, 39, 39);
}

#start:hover::after {
    transform: scaleX(1.1) scaleY(1.2);
    opacity: 0;
}


#next {
    width: 15%;
    background: #747474;
    color: white;
}

#next:hover {
    background: #525252;
}

#questionp {
    padding: 1%;
    background: transparent;
    position: relative;
    bottom: 30px;
    text-align: center;
    word-wrap: break-word;
    width: 85%;
}

.option {
    position: relative;
    font-size: 16px;
    cursor: auto;
    width: 50%;
    background-color: transparent;
}

.option:hover {
    background: #6f6f6f;

    span[class="option"] {
        background: #6f6f6f;
    }
}

/* NOT WORKING */

span[class="option"] {
    background: transparent;
}


/* Remove arrow from input with type of Number in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove arrow from input with type of Number in Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@media only screen and (max-width: 650px) {

    body {
        height: 100vh;
        width: 100vw;
        justify-content: flex-start;
        height: 100vh;
    }
    .logo {
        left: 3.9%;
    }

    .circle {
        height: 500px;
        width: 500px;
        margin-top: 30px;
    }

    #countdown-timer {
        bottom: 55px;
        left: 195px;
    }

    #questionp {
        font-size: 15px;
        word-wrap: break-word;
        width: 80%;
        text-align: center;
        bottom: 25px;
    }

    .option {
        font-size: 12px;
    }
}

@media only screen and (max-width: 520px) {
    body {
        font-size: small;
    }

    .circle {
        height: 400px;
        width: 400px;
        margin-top: 20px;
    }

    label {
        margin-bottom: 0;
    }

    #start {
        margin: 0;
        font-size: 18px;
    }
    #countdown-timer {
        bottom: 21px;
        left: 161px;
    }

    #questionp {
        bottom: 15px;
        font-weight: 500;
    }

    .option {
        margin: 5px;
    }

}

@media only screen and (max-width: 425px) {
    .circle {
        margin-top: 5px;
    }

    .logo {
        left: 5.9%;
    }

    #countdown-timer {
        font-size: 35px;
        bottom: 40px;
        left: 120px;

    }
}

@media only screen and (max-width: 375px) {
    body {
        font-size: 16px;
    }

    .logo {

    }

    .circle {
        height: 300px;
        width: 300px;
        margin-top: 0;
        font-size: smaller;
    }

    #countdown-timer {
        font-size: 30px;
        bottom: 0;
        left: 122px;
        height: 60px;
        width: 60px;
    }

    #start {
        height: 35px;
        width: 180px;
    }

    input {
        width: 70%;
    }
    ::placeholder {
        font-size: 16px;
    }

    #questionp {
        font-size: 12px;
        bottom: 0;
    }

    #next {
        width: 20%;
        font-size: 12px;
        margin-top: 0;
    }

    .option {
        margin: 2px;
    }
}
