@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    background: #474747;
}

body {
    font-family: 'Mulish', sans-serif;
    color: #ffffff;
}

nav, header {
    height: 100px;
    text-align: center;
}

nav > ul {
    display: inline-flex;
}

li {
    padding: 50px 100px 10px 100px;
    text-decoration: none;
    list-style: none;
    letter-spacing: 2px;

}

#logo {
    font-weight: 600;
    font-size: 27px;
    padding-top: 40px;
}

#content-container {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 700px;
    width: 700px;
    border-radius: 50%;
    top: 15%;
    right: 31%;
    background: #474747;
    box-shadow: inset 33px 33px 66px #3e3e3e,
                inset -33px -33px 66px #505050;
}

#countdown-container {
    bottom: 29%;
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #797878;
    color: #ffffff;
    left: 39%;
}

#user-input {
    color: #ffffff;
    position: absolute;
    text-align: center;
}
input, button {
    border-radius: 28px;
    height: 30px;
    width: 80%;
    padding: 5px;
    margin: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 17px;
    border: solid 1px rgb(172, 172, 172);
}


#start, #tutorial {
    color: #ffffffb4;
    padding: 5px;
    border-radius: 10px;
    height: 50px;
    border: solid 1px #3f3f3f;
    box-shadow: inset 33px 33px 66px #3e3e3e,
                inset -33px -33px 66px #505050;

}

#start {
    color: #ffffff;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: 'Mulish';
}

#start:hover {
    transform: translateY(1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   #start:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   

   #start::after {
    background-color: rgb(39, 39, 39);
   }
   
   #start:hover::after {
    transform: scaleX(1.1) scaleY(1.2);
    opacity: 0;
   }

#tutorial { 
    width: 60%;
    margin: 0 40px 0 40px;
}

input[type="range"] {
    cursor: pointer;
  }