@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    background: #474747;
}

body {

    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
    font-family: 'Mulish', sans-serif;
    color: #ffffff;
}

nav,
header {
    height: 110px;
    text-align: center;
}

nav>ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

li {
    padding: 50px 80px 10px 80px;
    list-style: none;
    letter-spacing: 2px;
}

.nav-menu>a {
    text-decoration: none;
    color: #ffffff;
}

#exit {
    position: relative;
    bottom: 81px;
    left: 450px;
}

.logo {
    font-weight: 400;
    font-size: 22px;
    padding-top: 48px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    background: transparent;
    
}

.logo:hover {
    transform: scale(1.02);
    }

.container {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 600px;
    width: 600px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #474747;
    box-shadow: inset 33px 33px 66px #3e3e3e,
        inset -33px -33px 66px #505050;
}

input {
    bottom: 29%;
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #474747;
    color: #ffffff;
}

input:focus-visible {
    background-color: -internal-light-dark#474747 #474747;
    color: #ffffff;
}

.hide {
    display: none;
}

img {
    height: 600px;
    margin: 0 27.5% 0 27.5%;
}

#countdown-timer {
    display: flex;
    position: relative;
    color: #000000;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: #505050;
    bottom: 100px;
    left: 245px;
    background: rgb(172, 172, 172);
    font-weight: 500;
    font-size: 300%;
}

#user-input {
    color: #ffffff;
    position: absolute;
    text-align: center;
}

input,
button {
    border-radius: 28px;
    height: 30px;
    width: 80%;
    padding: 5px;
    margin: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 17px;
    border: solid 1px rgb(172, 172, 172);
}


#start,
#tutorial {
    cursor: default;
    color: #ffffffb4;
    padding: 5px;
    border-radius: 10px;
    height: 50px;
    border: solid 1px #3f3f3f;
    box-shadow: inset 33px 33px 66px #3e3e3e,
        inset -33px -33px 66px #505050;
}

#tutorial {
    cursor: help;
    height: 35px;
    margin: 5px;
}

#start {
    color: #ffffff;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: 'Mulish';
    margin: 23px;
}

#start:hover {
    transform: translateY(1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#start:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


#start::after {
    background-color: rgb(39, 39, 39);
}

#start:hover::after {
    transform: scaleX(1.1) scaleY(1.2);
    opacity: 0;
}

#tutorial {
    width: 60%;
    margin: 0 40px 0 40px;
}

#next {
    width: 15%;
    background: #747474;
    color: white;
}

#next:hover {
    background: #525252;
}

#questionp {
    padding: 1%;
    background: transparent;
    position: relative;
    bottom: 45px;
}

.btn {
    position: relative;
    font-size: 16px;
    cursor: auto;
    width: 50%;
    }

.btn:hover {
    background: #6f6f6f;
}

