@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;600;700&display=swap');
@import url("https://use.typekit.net/tqr6gks.css");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "mono45-headline", monospace;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    background: #474747;
    overflow: hidden;
}

nav,
header {
    text-align: center;
    overflow: hidden;
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

li {
    list-style: none;
    letter-spacing: 2px;
}

.nav-menu>a {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
}

#exit {
   font-weight: 100;
   font-size: 12px;
}

.logo {
    font-weight: 400;
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 6.5px;
    background: transparent;
}

.logo:hover {
    transform: scale(1.02);
}

.circle {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background: #474747;
    box-shadow: inset 33px 33px 66px #3e3e3e,
        inset -33px -33px 66px #505050;
}

input {
    font-family: "mono45-headline", monospace;
    bottom: 29%;
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #474747;
    color: #ffffff;
}

input:focus-visible {
    background-color: #474747;
    color: #ffffff;
}

.hide {
    display: none;
}

img {
    height: 600px;
}

#countdown-timer {
    display: flex;
    position: relative;
    color: #000000;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: #505050;
    bottom: 100px;
    left: 245px;
    background: rgb(172, 172, 172);
    font-weight: 500;
    font-size: 300%;
}

#user-input {
    color: #ffffff;
    position: absolute;
    text-align: center;
}

::placeholder, input:-internal-autofill-selected, input:focus-visible, input:-internal-autofill-previewed {
    font-family: "mono45-headline", monospace;
    font-weight: 100;
    background-color: #474747 !important;
}

input,
button {
    border-radius: 28px;
    height: 30px;
    width: 80%;
    padding: 5px;
    margin: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 17px;
    border: solid 1px rgb(172, 172, 172);
    line-height: 20px;
}

label {
    font-size: 10px;
    background: transparent;
}

#start {
    cursor: default;
    color: #ffffffb4;
    padding: 5px;
    border-radius: 10px;
    height: 50px;
    border: solid 1px #3f3f3f;
    box-shadow: inset 33px 33px 66px #3e3e3e,
        inset -33px -33px 66px #505050;
}

#start {
    color: #ffffff;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: 'Mulish';
    margin: 23px;
}

#start:hover {
    transform: translateY(1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#start:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


#start::after {
    background-color: rgb(39, 39, 39);
}

#start:hover::after {
    transform: scaleX(1.1) scaleY(1.2);
    opacity: 0;
}


#next {
    width: 15%;
    background: #747474;
    color: white;
}

#next:hover {
    background: #525252;
}

#questionp {
    padding: 1%;
    background: transparent;
    position: relative;
    bottom: 45px;
}

.option {
    position: relative;
    font-size: 16px;
    cursor: auto;
    width: 50%;
    background-color: transparent;
}

.option:hover {
    background: #6f6f6f;
    span[class="option"] {
        background: #6f6f6f;
    }
}
/* NOT WORKING */

span[class="option"] {
    background: transparent;
}


/* Remove arrow from input with type of Number in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove arrow from input with type of Number in Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* @media only screen and (max-width: 768px) {

    header {
        padding-top: 0;
    }

    nav>ul {
        display: flex;
        align-items: baseline;
        flex-direction: column;
    }

    .logo {
        padding-top: 28px;
    }
}

@media only screen and (max-width: 425px) {
    header {
        position: absolute;
        padding-top: 0;
        width: 425px;
        left: 15%;

    }

    #countdown-timer {
        bottom: 83px;
        left: 180px;
    }

    nav>ul {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .circle {
        height: 562px;
        width: 562px;
        top: 65%;
        left: 66.5%;
    }

    #exit {
        position: relative;
        bottom: 0;
        left: 0;
    }
} */